/* WELCOME SCREEN: STYLE */

/* Using a * will set the font for the entire page */
* {
  font-family: Tektur;
}

header {
  opacity: 0.9;
  background-color: #160c28;
  display: flex;
  color: white;
  padding-left: 100px;
  width: 57%;
  border-bottom: 3px solid #67D0E0;
}

.header-text {
  display: flex;
  flex-direction: column;
}

.header-text h1 {
  padding-top: 15px;
  font-size: 40px;
  margin: 0;
}

.header-text p {
  font-size: 14px;
  margin: 0;
}

.logo {
  margin-right: 10px;
}

.logo img {
  width: 100px;
  height: 100px;
}

main {
  flex-grow: 9;
}

aside {
  flex-grow: 5;
}

.edit-container {
  opacity: 0.8;
  border: 3px solid #67D0E0;
  border-top: transparent;
  border-right: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 35%;
  height: 100vh;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  background: url(assests/wallpaper.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  min-height: 100vh;
}

#welcome {
  border: 10px double #67D0E0;
  backdrop-filter: blur(5px);
  box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding: 70px;
  margin: 0;
  margin-left: 100px;
  margin-top: 30px;
  max-width: 500px;
}


#welcome h2 {
  font-size: 30px;
  margin: 0;
}

#welcome h1 {
  font-size: 45px;
  margin: 0;
}

#continueBtn {
  background-color: #EF27A6;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 30%;
}

#continueBtn:hover {
  background-color: #E82167;
  cursor: pointer;
}

#aboutBtn {
  margin-top: 10px;
  background-color: #EF27A6;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 50%;
}

#aboutBtn:hover {
  background-color: #E82167;
  cursor: pointer;
}

aside {
  display: flex;
  justify-content: left;
  flex-grow: 3;
}

.row {
  display: flex;
  flex-direction: row;

  div.row {
    flex-grow: 8;
  }
}

.col {
  display: flex;
  flex-direction: column;
}

body html {
  height: 100%;
  width: 100%;
}

h1,
h2 {
  color: #EDF5FC;
}

@media screen and (max-width: 600px) {
  .edit-container {
    display: none;
  }
}
