/* ABOUT SCREEN: STYLE */
* {
  font-family: Tektur;
}

header {
  color: white;
  display: flex;
  background-color: #160c28;
  flex-direction: column;
  opacity: 0.9;
  width: 100vw;
  height: 10vh;
  justify-content: center;
  /* Changing This From Flex-start to Center Removed The Spacing It Had Above */
  z-index: 999;
  /* z-index: This Property Makes The "Header Element" Appear Above Everything */
}

.logo label {
  margin-top: 28px;
  margin-left: 335px;
  font-size: 35px;

}

.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 15px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  flex-direction: column;
  background-image:
    url("../assests/background.jpeg");
  background-size: cover;
  background-position: center;
}

#container {
  font-size: 19px;
  color: white;
  text-align: center;
  border: 10px double #67D0E0;
  backdrop-filter: blur(15px);
  box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding: 40px;
  width: 800px;
  margin-top: 40px;
}

#backBtn {
  background-color: #EF27A6;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 30%;
}

#backBtn:hover {
  background-color: #E82167;
  cursor: pointer;
}

.logo img {
  width: 100px;
  height: 100px;
  margin-left: 20px;
  position: relative;
  top: 0px;
  bottom: 0px;
}

.logo {
  display: flex;
  align-items: flex-start;
  background-color: #160c28;
}

.col {
  display: flex;
  flex-direction: column;
}


html {
  height: 100%;
  width: 100%;
}
